* {

}

a:hover {
    text-decoration: none;
}

body {
    background: #000 url('../img/1213318.jpg') no-repeat fixed top;
    height: 2000px;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
}

.container-fluid {
    padding: 0;
    background-color: rgba(5,5,5,0.75);
    margin-bottom: 2px;
}

.jumbotron-fluid {
    padding: .5em;
}

#navbar-container {
    padding: 0 15px;
}

#right-header {
    font-family: Mistral, sans-serif;
    font-size: 2em;
}

main {
    height: 1500px;
}