* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box
}

body {
    background: #000 url('../../img/1213318.jpg') no-repeat fixed top;
}

.container-fluid {
    background-color: rgba(5,5,5,0.75);
    margin-bottom: 2px;
}

.jumbotron-fluid {
    padding: .5em;
}

.right-header {
    font-family: Mistral, sans-serif;
    font-size: 2em;
}
.navbar-container {
    padding: 0 15px;
}
.navbar-container .main-navbar .nav-item {
    text-align: center;
    border-bottom: 1px solid black;
}
.navbar-container .main-navbar .nav-item a {
    display: block;
}
.navbar-container .main-navbar .nav-item a:hover {
    background-color: rgba(0,0,0,0.5);
}

main {
    height: 1500px;
}

@media screen and (max-width: 768px){
    .navbar-container .main-navbar .nav-item {
        width: 100%;
    }
}